

<% result = 0 %>
     <% for interest in @interests %>
     <% if interest.customer_id == @id_input.id_input.to_i %>
     <%  result = @id_input.id_input %>

     <form method="post" action="/heavybucketgames/<%= result %>/delete">
       <div class="delete">
       <input type="submit" value="Delete Order"/>
     </form>
<h1> <%= result %></h1>
      <% break %>

       <% else result = "Please try again" %>
       <%= result %>
       <a href="/status">Back></a>
        <% break %>

     <% end %>
<% end %>
