
<div class="welcome">
<h1></h1>
</div>
<div class="homeimage">
<img src="images/homepage1.1.png" width="500" height="500" id="logo" />
</div>


<div class="homerant">
  <p> Heavy Bucket Games is a small independent games company from
Glasgow, Scotland. They are currently working on their first ever
release. A point and click adventure game, set in their home city, Glasgow.
</p>

</div>
