<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>HeavyBucketGames</title>
    <link rel="stylesheet" type="text/css" href="/styles/homepage.css">
    <link rel="stylesheet" type="text/css" href="/styles/jumper.css">
    <link rel="stylesheet" type="text/css" href="/styles/time_fist.css">
    <link rel="stylesheet" type="text/css" href="/styles/games.css">
    <link rel="stylesheet" type="text/css" href="/styles/shortlist.css">

     <div class="allbuttons">
       <div class="homebutton">
       <a href=/>Home</a>
       </div>
        <div class="gamesbutton">
        <a href=/heavybucketgames/games>Games</a>
        </div>
        <div class="statusbuttonjumper">
        <a href=/jumper/status>Status Jumper</a>
        </div>
        <div class="statusbuttontimefist">
        <a href=/timefist/status>Status Time fist</a>
        </div>
      </div>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a></a>
      </li>
      <li>
        <a></a>
      </li>
      <li>
        <a></a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
