<form method="post" action="/heavybucketgames/games/jumper">

  <div class="button1">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />
  </div>

<div class="button2">

  <label for="email-field">Email:</label>
  <input
  type="text"
  name="email"
  id="email"
  />
  </div>
<input type="submit" value="send">
</form>
