.gamesbutton {
        font-size: 30px;
        margin-left: 250px;
}

.homebutton {
        font-size: 30px;
        margin-left: 50px;
        margin-top: -35px;
}
.statusbuttonjumper {
        font-size: 30px;
        margin-left: 450px;
        margin-top: -35px;
}
.statusbuttontimefist {
        font-size: 30px;
        margin-left: 700px;
        margin-top: -35px;
}
