.status {
  color : white;
  text-align: center;
  margin: 0 auto;
  font-size: 23px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.delete {
  color : white;
  text-align: center;
  margin: 0 auto;
  font-size: 23px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.button1 {
  color : white;
}

.button2 {
  color : white;
}

.jumperhome {
  color : white;
}
/* td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid papayawhip;
}

table {
  border-collapse: collapse;
} */
